*.xlsx filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
excel/Quick[[:space:]]Commerce[[:space:]]Analysis/Analysis_quick_commerce.xlsx filter=lfs diff=lfs merge=lfs -text
